name: CI

on:
  pull_request:
  push:
    paths:
      - src/*
      - tests/*
    branches:
      - main

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.10'
          - '3.11'
        os:
          - ubuntu-latest
          - macos-latest

    runs-on: ${{ matrix.os }}

    name: OS ${{ matrix.os }} with Python ${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Only needed if using setuptools-scm

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependences
        run: |
          python -m pip install --upgrade pip
          python -m pip install pytest-cov

      - name: Build otter
        run: pip install --no-cache-dir .

      - name: Test package
        run: python -m pytest --cov=otter
        env:
          OTTER_TEST_URL: ${{ secrets.OTTER_TEST_URL }}
          OTTER_TEST_PASSWORD: ${{ secrets.OTTER_TEST_PASSWORD }}
          ADS_DEV_KEY: ${{ secrets.ADS_DEV_KEY }}
          ATLAS_UNAME: ${{ secrets.ATLAS_UNAME }}
          ATLAS_PWORD: ${{ secrets.ATLAS_PWORD }}
          ATLAS_API_TOKEN: ${{ secrets.ATLAS_API_TOKEN }}
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          flags: smart-tests
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
