name: sem-ver
on:
  push:
    branches:
      - main

jobs:
  main:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Needed for creating tags and pushing changes

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.SEMVER_PAT_TOKEN }}
          fetch-depth: 0

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v6
        env:
          # 4. Pass the PAT to the GITHUB_TOKEN environment variable
          # (Ensure the secret name is correct: SEMVER_PAT_TOKEN)
          GITHUB_TOKEN: ${{ secrets.SEMVER_PAT_TOKEN }}
